
{% extends "base.html" %}

{% block content %}

<header>
	<title>numnums flavor profile</title>
	<div class="headerbg"></div>
	<div class="row">
	  <div class="span10 offset1 logo">
		 	<img class="logomark" src="static/images/logo.png" width="125" height="125">
		 	<div class="betatype">beta <br>
		 		<span class=numnums>numnums</span>
		 	</div>
	  </div>
	</div>
</header>

<body>
  <iframe src="https://docs.google.com/a/numnums.com/spreadsheet/embeddedform?formkey=dEpMUlUtdFlTd3ZoWlNIZzY2U21vT3c6MQ" width="760" height="3225" frameborder="0" marginheight="0" marginwidth="0">loading...</iframe>
	</div>
</body>
{% endblock %}

</html>
